{% extends 'base.html' %}

{% block body %}

    <section class="section-wrap bottom-divider" >
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="newsletter__title">My Platforms</h2>
                <ul class="list-group">
                    {% for p in platforms %}
                  <li class="list-group-item">{% p.name %}</li>
                    {% empty %}
                        <p>You have not created any platform</p>
                    {% endfor %}
                </ul>

            </div>
          </div>
        </div>
      </section>

{% endblock %}